{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="content">
  <div class="introduction">
    <h2>Welcome to SSTAKE</h2>
    <hr>
    <div class="divider"></div>
    <p class="fade-in"><strong>쓰레기 주워서 돈벌자</strong>, <strong>쓰-테크</strong>는 쓰레기와 제테크의 합성어로, 
      쓰레기를 활용한 제테크를 돕기 위해 만들어졌습니다.</p>
    <hr>
    <div class="image-container">
      <img src="static/image/recycle.png" alt="Image 1" class="fade-in">
    </div>
    <hr>
    <p class="fade-in">쓰-테크는 무단투기 감지 CCTV상에 비춰지는 거리에 버려진 페트병과 캔의 갯수를 보여줍니다. <br>
    <br>  그리고 페트병과 캔을 통해 인센티브를 받을 수 있는 재활용품 무인회수기의 위치를 함께 알려줍니다.</p>
  </div>
  
</div>
{% endblock %}
